DB_CONNECTION=pgsql
DB_DATABASE=shopping
DB_USERNAME=pguser
DB_PASSWORD=pgpassword
DB_PORT=5432

DATABASE_URL="postgresql://pguser:pgpassword@localhost:5432/shopping?schema=public"
NUXT_SESSION_PASSWORD=

GEMINI_API_KEY=
